<html ng-app="crud_main">
    <head>
        <title>Hello Angular</title>
        <script src="https://code.angularjs.org/1.2.6/angular.js"></script>
        <script src="js/controllers/crud-controller-index.js"></script>
        <script src="js/controllers/crud-controller.js"></script>
        <script src="js/main.js"></script>
        
    </head>
    <body ng-controller="crudController">
        
        <div>
           <label>1º Exemplo - visao simples do two way data binding</label><br/>
           <label>================================================================== </label>
            <br/> <br/>
                Informe o nome: <input type="text" ng-model="nome">
                <p>Olá {{ nome }}</p>
            
            <label>================================================================== </label>
        </div>
        <br/>
        <div>
           <label>2º Exemplo - chamada de function em controller no angular:</label><br/>
           <label>================================================================== </label>
            <br/> <br/>
                Informe o nome: <input type="text" ng-model="nomeInformado">
                <input type="button" ng-click="informarNome()" value="consulta Nome"/>
                <p>Olá {{ resultado }}</p>
            
            <label>================================================================== </label>
        </div>
        <br/>
        
        
    </body>
</html>